.not-found-container {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  height: 300px;
  width: 240px;
}
.not-found-heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #ffffff;
  font-weight: 600;
}
.not-found-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
